*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Bell MT;
  box-sizing: border-box;
}

body {
  min-height:100vh;
  background-image:  linear-gradient(120deg ,#2c3e50, #95a5a6 );
}

p {
  font-size: 14px;
}

.login-form {
    width: 360px;
    height: 580px;
    background-color: rgb(189, 195, 199);
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 500px;
    top:20px;
    transform: translateY(-10%,10%);
}

.login-form h1 {
  text-align: center;
  margin-bottom: 50px;
}

.inputbox {
    background-color: rgb(189, 195, 199);
    position:relative;
    border-bottom: 2px solid #adadad ;
    margin: 25px 0;
}
p {
  margin-bottom: 30px;
  text-align: center;
}

.inputbox input {
    border: none;
    background: none;
    width: 100%;
    outline:none;
    height: 40px;
    padding: 0 5px;
}

.inputbox span::before {
    content: attr(data-placeholder);
    position: absolute;
    left:5px;
    top: 50%;
    transform: translateY(-50%);
    color: #adadad;
    transition: .5s;
}

.inputbox span::after {
   content: '';
   position: absolute;
   left: 0;
   top:100%;
   width:0%;
   height:2px;
   background:  linear-gradient(120deg ,#2c3e50, #95a5a6 );
   transition: .5s;
}

.focus + span::before {
    top:-5px;
}

.focus +span::after {
    width:100%
}

.signin {
  background: linear-gradient(120deg ,#2c3e50, #95a5a6);
  font-family: Bell MT;
  font-size: 15px;
  padding: 10px 40px;
  margin: 20px 0;
  outline: none;
  cursor: pointer;
  transition: 5s;
  color:#fff;
  border: none;
}

.signin:hover {
  background: linear-gradient(120deg , #95a5a6, #2c3e50);
}

.bottomtext {
  font-size: 15px;
  text-align: center;
  margin-top: 0px;
}
